name: Test and lint

on: push

jobs:
  test:
    name: Run all tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '24'
      - name: Install
        run: npm ci
      - name: Test
        run: npm run test

  unit-test-and-sonar:
    name: Unit tests and coverage for sonar
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Set up node
        uses: actions/setup-node@v3
        with:
          node-version: '24'
      - name: Install
        run: npm ci
      - name: Test
        run: npm run test:unit --coverage
      - name: Setup Sonar Scanner
        uses: warchant/setup-sonar-scanner@v8
      - name: Run sonarqube
        env:
          # to get access to secrets.SONAR_TOKEN, provide GITHUB_TOKEN
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: sonar-scanner
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}
          -Dsonar.host.url=https://sonarcloud.io/
